.center{

	text-align: center;
}
.orange{

	background-color: orange;
}
.cuvborder{

	padding: 10px;
	border-radius: 25px;
	background-color: gold;
}
#no
{
	border:none;
	border-radius: 25px;

}
.top{
	margin-top: 25px;
}
.pink{
	background-color:  #e75480;
}
.pad10{
	padding:10px;
}
/*navbar*/
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #	;
}

.topnav {
  overflow: hidden;
  background-color: white;
}

.topnav a {
  float: right;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  margin-right:2%;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  float:left;
  margin-left:5%;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 1050px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 1050px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

#mr5{
	margin-right: 12%;

}

#last{
	margin-right: 5%;
}
.tcenter{
	display:block;
	margin-left: auto;
	margin-right: auto; 
}
