 @font-face { 
    font-family:'din';
    src:url('DINMedium.ttf');
    font-style:normal;
   
 }

  @font-face { 
    font-family:'arvo';
    src:url('Arvo-Regular.ttf');
    font-style:normal;
   
 }


 @font-face { 
    font-family:'neo';
    src:url('neo_sans_bold.ttf');
    font-style:normal;
   
 }

 @font-face { 
    font-family:'axis';
    src:url('Axis.ttf');
    font-style:normal;
   
 }

 @font-face { 
    font-family:'helvetica';
    src:url('Helvetica.ttf');
    font-style:normal;
   
 }
 .axis{
    font-family: axis;
 }
 .helvetica{
    font-family:helvetica;
 }
.neo{
  font-family: neo; 
}
.arvo{
  font-family:arvo;
}
.center{

	text-align: center;
}
.orange{

	background-color: orange;
}
.cuvborder{

	padding: 15px;
	border-radius: 25px;
	background-color:#FFCA57;
  font-size: 20px;
}
#no
{
	border:none;
	/*border-radius: 25px;*/
  height:375px;
  width:515px;

}
.tcenter{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.pcenter{
  display: block;
  margin-top: auto;
  margin-bottom: auto;
}
.top{
	margin-top: 25px;
}
.pink{
	background-color:#B0358B;
}
.pad20{
	padding:20px;
}
.pad8{
  padding-top:6px;
  padding-bottom:8px;
}
.din{
  font-family:"din";
}
.fsize30{
  font-size:30px;
}
.fsize43{
  font-size:43px;
}
.fsize48{
  font-size:45px;
}
.fsize65{
  font-size:60px;
}
.top1{
  margin-top: 55px;
}

.left{
    text-align: left;
}
.right{text-align: right}
.ml40{
  padding-left: 22%;
}
.m25{
  margin-top:55px;
}
.m26{
  margin-top: 70px;
}
.navcol{
  background-color: #FEFEFE;
}
.lavenderb{
  color: #FFF5FF;
}
.fs20{
  font-size: 30px;
  margin-top: 0;
  padding-top: 0;
}
.md0{
  margin-bottom:0;
  padding-bottom: 0;

}
.f16{
  font-size: 16px;
}
.f20{
  font-size: 20px;
}
.ls{
  line-height: 26px;
}

/*navbar*/
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #FFF5FF; 
  
}

.topnav {
  overflow: hidden;
  background-color: white;
}

.topnav a {
  float: right;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 30px;
 
  text-decoration: none;
  font-size: 20px;
  margin-right:2%;
}
#down{
  padding-top:22px;
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  float:left;
  margin-left:5%;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 1150px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 1150px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

#mr5{
  margin-right: 12%;

}

#last{
  margin-right: 5%;
}